

.global-header{
    height:130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.logo{
    height: 50px;
    width: 250px;
    margin-left: 30px;
   
   
}

.main-menu{
    display: none;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 70px;
    flex-grow: 1;
    margin-right: 150px;
}

.main-menu a{
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(247, 247, 249);

}

.burger-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
 
}
#side-menu {
    z-index: 200;
}

.burger-icon img{
    height: 30px;
   margin-right: 40px;
}

.EXPERTISE, .PROJECTS{
    display: none;
}



/*@media (min-width: 768px) {
    .main-menu{
        display: flex; 
    }
}*/


/* DESKTOP */

@media (min-width:1200px){
    .EXPERTISE1{
        display: none;
    }

    .PROJECTS1{
        display: none;
    }

    .burger-icon{
        display: none;
    }
    .main-menu{
        display: flex;
    }
    .EXPERTISE{
        height: 200px;
        width: 350px;
        background: radial-gradient(circle, rgba(171, 182, 193, 0.9) 1%, transparent 90%), rgba(50, 88, 132, 0.9);
        background-blend-mode: darken;
        position: absolute;
        top: 115px;
        right: 340px;
        padding-top: 15px;
        display: none;
        opacity: 0.9;
        z-index: 100; 
 
     }
     .EXPERTISE a{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 20px 30px;
         font-size: 22px;
         font-weight: 18px;
         color: rgb(226, 228, 230);
         text-decoration: none;
     
     }
     
     .EXPERTISE a:hover{
         color: rgb(246, 246, 247);
         text-decoration: underline;
     }
     
     .Expertise{
         position: relative;
     }
     
     
     .PROJECTS{
         height: 250px;
         width: 400px;
         background: radial-gradient(circle, rgba(171, 182, 193, 0.9) 1%, transparent 90%), rgba(50, 88, 132, 0.9);
         background-blend-mode: darken;
         opacity: 0.9;
         position: absolute;
         top: 115px;
         right: 133px;
         padding-top: 15px;
         display: none;
         z-index: 100;
     }
     
     
     .PROJECTS a{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 20px 30px;
         font-size: 22px;
         font-weight: 18px;
         color: rgb(226, 228, 230);
         text-decoration: none;

         
     }
     
     .PROJECTS a:hover{
        color: rgb(246, 246, 247);
         text-decoration: underline;
         cursor: pointer;
     }
     
     .Project{
     
         position: relative;
     }  
}

/*@media (min-width:1200px){
    .burger-icon{
        display: none;
    }
    
}*/


/* MOBILE & tablet*/

@media (max-width:1200px){

    #side-menu {
        z-index: 200;
    }


.EXPERTISE1{
   height: 233px;
   width: 380px;
   background: radial-gradient(circle, rgba(171, 182, 193, 0.9) 1%, transparent 90%), rgba(105, 121, 139, 0.9);
   background-blend-mode: darken;
   color: rgb(11, 22, 30); 
   opacity: 0.9;
   color: rgb(11, 22, 30);  
   position: absolute;
   top: 355px;
   left: 230px;
   z-index: 200;
   display: none;
  
 
}
.EXPERTISE1 a{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 14px;
    color: rgb(11, 22, 30);
    text-decoration: none;
    padding: 22px 30px;
   
}

.EXPERTISE1 a:hover{
    color: rgb(246, 246, 247);
    text-decoration: underline;
}

.EXPERTISE1{
    position: relative;
}


.PROJECTS1{
    height: 233px;
    width: 380px;
    background: radial-gradient(circle, rgba(171, 182, 193, 0.9) 1%, transparent 90%), rgba(105, 121, 139, 0.9);
    background-blend-mode: darken;
    color: rgb(11, 22, 30); 
    opacity: 0.9;
    color: rgb(11, 22, 30); 
    position: absolute;
    top: 470px;
    left: 230px;
    display: none;
    z-index: 200;
   
}


.PROJECTS1 a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    font-size: 26px;
    font-weight: 14px;
    color: rgb(11, 22, 30);
    text-decoration: none;
    padding: 22px 30px;
}

.PROJECTS1 a:hover{
    color: rgb(246, 246, 247);
    text-decoration: underline;
}

.PROJECTS1{

    position: relative;
} }



.burger-icon-menu{
  
    padding-top: 25px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateX(100%);
    transition:  0.4s ease-in-out;
    background: radial-gradient(circle, rgb(120, 122, 124) 1%, transparent 95%), rgb(52, 70, 85);
    margin-top: 0;
    height: 100%;
    background-repeat: repeat;
    cursor: pointer;
   
}

.second-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
}

hr{
    width: 93%;
    border-color: rgb(156, 152, 152);
    margin-top: 20px;
    opacity: 0.6;
   
}

.second-nav img:first-child{
    height: 24px;
  
}
.second-nav img:last-child{
    height: 30px;
    margin-right: 30px;
  
}

.nav-side-menu{
    margin-top: 70px;
}

.nav-side-menu a{
    display: block;
    margin-left: 20px;
    font-size: 32px;
    font-weight: 20px;
    padding: 20px 30px;
    margin-top: 40px;
    color: rgb(0, 6, 11);
    text-decoration: none;
}


footer{
    height: 65px;
    background-color: aliceblue;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

.show-menu{
    opacity: 1;
    transform: translateX(0%);
}

.show {
    display: block;
  }

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 20px;
    margin-right: 50px;
}
.nav-footer a img{
    height: 40px;
    margin-left: 15px;
   
}