
.main-header{
    background-image: url('images/cover1.jpg');
    background-color: rgb(123, 123, 171);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
}



.main-menu a{
    color: rgb(233, 235, 236);
}
.nav-menu{

    background: radial-gradient(circle, rgb(120, 145, 168) 1%, transparent 90%), rgb(41, 73, 99); ;
    height: 90px;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: fixed;
    top: 450px;
    left: 0;
    right: 0;
    z-index: -1;
}

.nav-menu a{
    font-size: 24px;
    color: rgb(233, 235, 236);
    cursor: pointer;
    text-decoration: none;
   
}



h1{
    color: rgba(228, 229, 230);
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-top: 25%;
    opacity: 0.8;
    z-index: -1;
}



.burger-icon img{
    
    margin-right: 50px;}

  
  

/*.container{


    margin-top: 550px;
    margin-bottom: 90px;
    z-index: -200;
    
}*/

 section{ 
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 5px;
   column-gap: 15px;
   margin-right: 10px;
   margin-left: 10px;
   /*z-index: -100;*/
  
}

@media (min-width: 768px){
    section{ 
      
        grid-template-columns: 1fr 1fr;
      
    }   

    .container{

       
        margin-top: 543px;
        margin-bottom: 90px;
    }
    h1{
        margin-top: 20%;
    }
}


@media (min-width:1200px){
    section{ 
       display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        
    } 

    .container{
        margin-top: 543px;
        margin-bottom: 90px;
    }

        h1{
            color: rgb(251, 248, 248);
            font-size: 90px;
            font-weight: bold;
            text-align: center;
            margin-top: 180px;
            opacity: 0.8;
        }
}


.project-highrise{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 10px 10px;
}

.img-project{
    width: 100%;
    height: 60%;
    transition: 0.3 ease-out;
}

.img-project:hover{
    transform: scale(1.1);
}


.details{
 
    border: 1px solid rgb(200, 199, 199);
    margin-top: 40px;
    width: 100%;
}


.title{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    

}

.client{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    background-color: rgb(219, 219, 224);
}

.cost{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.details h3{
    padding-left: 20px;
}

.details p{
    font-size: 24px;
    
}


.show-menu{
    opacity: 1;
    transform: translateX(0%);
}

.show {
    display: block;
  }

#btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: rgb(146, 148, 152);
    position: fixed;
    bottom: 130px;
    right: 50px;
    font-size: 33px;
    border-radius: 25px;
    border: none;
    padding-top: 10px;
    display: none;
    z-index: 2;
}













